<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <!-- Permissions for Phone and SMS detection -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- Hardware features (Required to fix the warning) -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <!-- Permission for Email account access (if needed for syncing) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoTrack"
        tools:targetApi="31">

        <!-- Register the Receiver to listen for Phone and SMS events -->
        <receiver
            android:name=".business.LeadInteractionReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.LeadsActivity"
            android:exported="false" />

        <activity android:name=".presentation.LeadsCreationActivity" />

        <activity
            android:name=".presentation.LeadDetailsActivity"
            android:label="Lead Details"
            android:parentActivityName=".presentation.LeadsActivity" />

        <activity
            android:name=".presentation.CalendarActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.NotificationsActivity"
            android:label="Notifications"/>
    </application>

</manifest>